<div class="partialWrapper">
  <div class="welcomeArea">
    <h1 class="top">${name}</h1>
    <p>${savedData.length} Liked Images  |  10 Followers</p>
  </div>
  <div id="profilePicArea">
    <img src="${resultData[0].picture}" class="profilePic">
    <h3>Choose/Change Your Profile Picture</h3>
    <form action='/profile' method="post" enctype="multipart/form-data">
      <input type='file' name='image' />
      <input type="submit" value="upload"/>
    </form>
  </div>
<div class="title">
  <h1>${name}'s Top Images</h1>
</div>
</div>
<div class="columns">
  <div class="column"></div>
  <div class="column is-four-fifths">

      <div class="grid" data-colcade="columns: .grid-col, items: .grid-item">
          <div class="grid-col grid-col--1"></div>
          <div class="grid-col grid-col--2"></div>
          <div class="grid-col grid-col--3"></div>
          <div class="grid-col grid-col--4"></div>
          ${savedData.map (liked_images => {
          return `<div class="grid-item">
                      <img class="pinterest" src="${liked_images.name}" onerror="this.src='${liked_images.name}';" >

                  </div>
                  <div class="overlay">
                    <button id="unlike" onlick="" class="button is-danger is-inverted has-text-danger">Unlike</button>
                  </div>
                  `}).join('')}
          
      </div>
  </div>
  <div class="column"></div>
</div>





