<div class="partialWrapper">
  <div class="welcomeArea">
    <h1 class="top">${name}</h1>
    <p>${savedData.length} Liked Images  |  10 Followers</p>
  </div>
  <div id="profilePicArea">
    <img src="${resultData[0].picture}" class="profilePic">
    <h3>Choose/Change Your Profile Picture</h3>
    <form action='/profile' method="post" enctype="multipart/form-data">
      <input type='file' name='image' />
      <input type="submit" value="upload"/>
    </form>
  </div>
  <div class="title">
    <h1>${name}'s Top 5 Images</h1>
  </div>
<div class="photoTable">
    ${savedData.map (liked_images => {
      return ` <img src="${liked_images.name}" class="top5">`}).join('')}
  </div>
</div>





