<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Binterest - We love your trash!</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    </head>
    <body>
    <!-- <body onload="signInModal()"> -->
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <img class="logo" src="/images/logo.png">
                    </a>
                    <span class="navbar-burger burger" data-target="navMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navMenu" class="navbar-menu">
                    <div class="navbar-end">
                        ${!!is_logged_in ? `
                            <a class="navbar-item" href="/profile" ><img class="user" src="images/user.png">${name}</a>
                            <a class="navbar-item" href="#">Upload</a>
                            <a class="navbar-item" href='/users/logout'>Logout</a>
                        ` : `
                        <a href="/" class="navbar-item is-active">Home</a>
                        <a href="/users/login" class="navbar-item">Login</a>
                        <a href="/users/signup" class="navbar-item">Signup</a>
                        `}
                    </div>
                </div>
            </div>
        </nav>
        <hr class="divider">
        <div>
            ${partial}
        </div>
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>Binterest</strong> by <a href="https://github.com/aaroncosmith">Aaron</a>, <a href="https://github.com/bdcolosi/">Brooke</a>, <a href="https://github.com/alanbjordan/">Alan</a>
                </p>
            </div>
        </footer>
        <script src="/scripts/hamburger.js"></script>
        <script src="https://unpkg.com/colcade@0/colcade.js"></script>
        <script src="/scripts/colcade.js"></script>
        <script src="/scripts/modal.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@13.0.1/dist/lazyload.min.js"></script>
        <script src="/scripts/lazyload.js"></script>
    </body>
</html>