body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.partialWrapper {
  margin: 20px 10px 10px 10px;
  display: grid;
  grid-template-rows: 300px 100px 0px;
  grid-template-columns: 1fr 1fr;
  /* border: 1px blue solid; */
}

.welcomeArea {
  text-align: center;
} 

.welcomeArea p {
  font-size: 1.5em;
} 

.top {
  margin-top: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3em;
}

#profilePicArea {
align-content: center;
}

.profilePic {
  margin-left: 10%;
  border-radius: 310px;
  height: 150px;
  width: 150px;
  
  }

.photoTable {
  margin: 10px 30px 30px 30px;
  grid-column: 1 / span 2;
  height: 2000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 7px;
  /* border: black 1px solid; */
}

.photoTable img {
  margin-left: 10%;
height: 25rem;
width: 15rem;
}

.title {
  grid-column: 1/ span 2;
  text-align: center;
  /* font-family: 'Times New Roman', Times, serif; */
}

.uploadImg {
  margin-top: 40px;
  grid-column: 1 / span 2;
  text-align: center;
}

.top5 {
  margin-left: 10%;
  border-radius: 9px;
  height: 150px;
  width: 150px;
}


/* with flexbox */
.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
}

.grid-col {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/* 2 columns by default, hide columns 2 & 3 */
.grid-col--2, .grid-col--3 { display: none }

/* 3 columns at medium size */
@media ( min-width: 768px ) {
  .grid-col--2 { display: block; } /* show column 2 */
}

/* 4 columns at large size */
@media ( min-width: 1080px ) {
  .grid-col--3 { display: block; } /* show column 3 */
}

.grid-item {
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 20px;
  position: relative;

}

.overlay {
  position: absolute;
  opacity: 0;
  bottom: 10px;
}

.grid-item:hover .overlay {
  opacity: 1;
}

.lazy {
  border-radius: 10px;
}

/* ------------ */


div.columns {
  padding-top: 15px;
}

.divider {
  margin: 0px 0px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  width: 25%;
}

.user {
  padding-right: 7px;
}

a.navbar-item {
  color: grey;
}

#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  #modal-content {

    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 90px 20px 20px 20px;
    /* border: 5px solid grey; */
    width: 40%; /* Could be more or less, depending on screen size */
    height: 60%;
    border-radius: 40px;
  }

  #modal2 {
 /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
    
    #modal-content2 {
  
      background-color: white;
      margin: 5% auto; /* 15% from the top and centered */
      padding: 40px 20px 20px 20px;
      /* border: 5px solid grey; */
      width: 40%; /* Could be more or less, depending on screen size */
      height: 85%;
      border-radius: 40px;
    }

  #modalLogin p {
    text-align: center;
    font-size: 2em;
  }

  #modalLogin {
    text-align: center;
  }

  #modalLoginBtn {
    width: 200px;
    height: 35px;
    background-color: #1d4ec4;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    font-weight: 900;
    color: whitesmoke;
    margin-bottom: 5px;
    cursor: pointer;
  }


  #modalSignupBtn {
    width: 200px;
    height: 35px;
    background-color: whitesmoke;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    font-weight: 900;
    color: black;
    cursor: pointer;
  }

  #lowBtn {
    text-align: center;
  }

  #lowBtn h1 {
    font-weight: bolder;
  }

  .input1 {
    width: 200px;
    height: 30px;
    font-weight: 500;
  }

  #form1 {
    text-align: center;
  }

  #control1 {
    text-align: center;
  }

  #welcomeModal {
    font-weight: bold;
  }

  #user2 {
    border-radius: 4px;
  }

  #singleImg {
    text-align: center; 
    /* border: 1px black solid; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #singleImg img {
    margin-top: 10px;
    height: 60%;
    width: 60%;
    border-radius: 30px;
    cursor: pointer;
    transition:transform 0.45s ease;
  }

  #singleImg img:hover {
    -webkit-transform:scale(1.9); /* or some other value */
    transform:scale(1.9);
    cursor: pointer;
  }

  #contentBox {
    /* border: 4px red solid; */
    width: 100%;
  }

  #commentc2a {
    text-align: center;
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.1em;
  }

  #myr {
    text-align: center;
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.1em;
  }

  #modal2 input {
    margin-top: 10px;
    text-align: center;
    width: 50%;
    font-size: .9em;
  }

  #modal2 button {
    
    border-radius: 10px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    width: 20%;
    font-size: .9em;
    background-color: blue;
    color: white;
  }