body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.partialWrapper {
  margin: 20px 10px 10px 10px;
  display: grid;
  grid-template-rows: 300px 100px 600px;
  grid-template-columns: 1fr 1fr;
  /* border: 1px blue solid; */
}

.welcomeArea {
  text-align: center;
} 

.welcomeArea p {
  font-size: 1.5em;
} 

.top {
  margin-top: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3em;
}

#profilePicArea {
align-content: center;
/* border: red 1px solid; */
}

.profilePic {
  margin-left: 10%;
  border-radius: 310px;
  height: 150px;
  width: 150px;
  
  }

.photoTable {
  margin: 10px 30px 30px 30px;
  grid-column: 1 / span 2;
  height: 2000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 7px;
  /* border: black 1px solid; */
}

.photoTable img {
  margin-left: 10%;
height: 25rem;
width: 15rem;
}

.title {
  grid-column: 1/ span 2;
  text-align: center;
  /* font-family: 'Times New Roman', Times, serif; */
}

.uploadImg {
  margin-top: 40px;
  grid-column: 1 / span 2;
  text-align: center;
}

.top5 {
  margin-left: 10%;
  border-radius: 9px;
  height: 150px;
  width: 150px;
}


/* with flexbox */
.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.grid-col {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/* 2 columns by default, hide columns 2 & 3 */
.grid-col--2, .grid-col--3 { display: none }

/* 3 columns at medium size */
@media ( min-width: 768px ) {
  .grid-col--2 { display: block; } /* show column 2 */
}

/* 4 columns at large size */
@media ( min-width: 1080px ) {
  .grid-col--3 { display: block; } /* show column 3 */
}

.grid-item {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  position: relative;
}

.overlay {
  position: absolute;
  opacity: 0;
  bottom: 10px;
}

.grid-item:hover .overlay {
  opacity: 1;
}

.pinterest {
  border-radius: 10px;
}

/* ------------ */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  width: 25%;
}